#===============================================================================
# Location of public key for accessing to compute resource via SSH.
#===============================================================================

public_key  = ""
